.wrapper{
        display: flex;
        justify-content: center;
        padding-block: 10px;
        height: fit-content;
        padding: 20px;
        transition: 0.3s;
        &:hover{
            filter:brightness(1.2)
        }
    div{
        
        background-color: var(--bs-dark);
        border-radius: 10px;
        
    }
}